src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8244f613-a938-4a23-9a07-c0ba2f0350d0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="d7338fe3-8543-4084-bca3-1678b00f9cf6" >
		<http:listener doc:name="Listener" doc:id="55cfdb98-0aa3-4bb0-9df7-39154ec9d384" config-ref="HTTP_Listener_config" path="/hi"/>
		<set-payload value='#[output application/json&#10;---&#10;{"message":"HELLO WORLD"}]' doc:name="Set Payload" doc:id="20ce3567-257c-408d-9631-c6173fe2235a" mimeType="application/json"/>
	</flow>
</mule>
